.layout-transparent { background-color: #006400; }
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    color: white;
}